<div class="col-sm-12 mb-4">
    <div class="card">
        <a><img class="card-img-top" [src]="data[0].imgCover" alt="..." (click)="onClick(data[0]._id)"/></a>
        <div class="card-body">
            <div class="small text-muted ">From anime</div>
            <div class="card-detail">
                <h2 class="card-title h5 mt-1">
                    <strong>
                        {{data[0].name}}
                    </strong>
                </h2>
                <a class="btn btn-readmore" (click)="onClick(data[0]._id)">Read more →</a>
            </div>
        </div>
    </div>
</div>
