<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/1.jpg" alt="1" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="assets/2.jpg" alt="2" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="assets/5.jpg" alt="5" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="assets/6.jpg" alt="6" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="assets/7.jpg" alt="7" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="assets/8.jpg" alt="8" style="width:100%;">
        </div>
    </div>
    <button (click)="openFullscreen()" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


