
.container {
    height: 100%;
  }

.demo{
    background-color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
}
.panel{
    padding: 0;
    border-radius: 20px;
    border: none;
}
.panel .panel-heading{
    background: #8b2cd3;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    margin: 0;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    line-height: 39px;
    text-transform: capitalize;
    margin: 0;
}
.panel .panel-heading .add-new{
    color: #333;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px 8px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .add-new:hover,
.panel .panel-heading .add-new:focus{
    color: #fff;
    background-color: #333;
}
.panel .panel-heading .btn_group{
    background-color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
}
.panel .panel-heading .btn_group .btn{ padding: 5px 10px; }
.panel .panel-body{ padding: 0; }

.panel .panel-body .table{
    background-color: white; /* เปลี่ยนพื้นหลังของตารางเป็นสีขาว */
    margin-bottom: 0;
}
.panel .panel-body .table thead tr th{
    font-size: 17px;
    font-weight: 600;
    padding: 12px;
}
.panel .panel-body .table tbody tr td{
    color: #555;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
}
.panel .panel-body .table .user_icon{
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0;
    border-radius: 10px;
    overflow: hidden;
}
.panel .panel-body .table .user_img{
    width: 100px;
    height: 50px;
    margin: 0 5px 0 0;
    border-radius: 10px;
    overflow: hidden;
}
.panel .panel-body .table .user_img img{
    width: 100%;
    height: auto;
}
.panel .panel-body .table tbody .status{
    padding-left: 12px;
    position: relative;
}
.panel .panel-body .table tbody .status:before{
    content: "";
    background: #28a745;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
}
.panel .panel-body .table tbody .status.block:before{ background: #dc3545; }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{ display: inline-block; }
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li button:hover,
.panel .panel-body .table tbody .action-list li a:hover{
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.panel .panel-footer{
    background-color: white;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #b1b0b0;
    border-radius: 0 0 20px 20px;
}
.pagination{ margin: 0; }
.pagination li a{
    color: #999;
    background-color: #e7e7e7;
    font-size: 15px;
    font-weight: 600;
    margin: 0 2px;
    border: none;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
    color: #fff;
    background-color: #2C96D3;
}
@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .text-right{ text-align: center; }
}