<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<body class="bg-dark">
    <div class="container p-4">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        
                        <div class="widget border-0">
                            <div class="widget-add">
                                <img class="img-fluid" src="images/add-banner.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row mb-4">
                        <div class="col-12">
                            <h1 class="mb-0">Character list</h1>
                        </div>
                    </div>
        
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let character of characters">
                          <div class="d-flex h-100">
                            <div class="card mb-4 flex-fill">
                              <img class="card-img-top card-img-test" [src]="character.imgProfile" alt="..." />
                              <div class="card-body">
                                <h5 class="card-title">{{ character.name }}</h5>
                                <ul class="list-unstyled">
                                  <li><i class="fas fa-filter pr-1"></i>Score: {{ character.score }}</li>
                                  <li><i class="fas fa-map-marker-alt pr-1"></i>From anime: {{ character.anime }}</li>
                                  <li><i class="fas fa-map-marker-alt pr-1"></i>From manga: {{ character.manga }}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
</body>

