.bg-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    animation: slideImages 30s linear infinite;
}
.card-img-test{
    width: 350px;
    height: 200px;
    object-fit: cover;
}


@keyframes slideImages {
    0% {
        background-image: url('../../img/wallpaper1.jpg');
        background-position: 0% 0%;
    }
    48% {
        background-image: url('../../img/wallpaper1.jpg');
        background-position: 0% 100%;
    }
    50% {
        background-image: url('../../img/wallpaper3.jpg');
        background-position: 0% 100%;
    }
    98% {
        background-image: url('../../img/wallpaper3.jpg');
        background-position: 0% 0%;
    }
    100% {
        background-image: url('../../img/wallpaper1.jpg');
        background-position: 0% 0%;
    }
}
