.bg-img {
    width: 100%;
    height: auto;
    background-size: cover;
    animation: slideImages 30s linear infinite;
}

.card-img-test {
    width: auto;
    height: 200px;
    object-fit: cover;
}

@keyframes slideImages {
    0% {
        background-image: url('../../img/wallpaper1_h.jpg');
        background-position: 0% 0%;
    }

    48% {
        background-image: url('../../img/wallpaper1_h.jpg');
        background-position: 0% 100%;
    }

    50% {
        background-image: url('../../img/wallpaper2_h.jpg');
        background-position: 0% 100%;
    }

    98% {
        background-image: url('../../img/wallpaper2_h.jpg');
        background-position: 0% 0%;
    }

    100% {
        background-image: url('../../img/wallpaper1_h.jpg');
        background-position: 0% 0%;
    }
}

.btn-clicked {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}

.btn-readmore {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
    
}

.btn-readmore-avg{
    background-color: #b13e49;
    color: #ffffff;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    /* font-size: 14px; */
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-detail{
    display: flex;
    justify-content: space-between;
}

.left-info, .right-info {
    width: auto; /* Adjust the width as needed */
}