<div class="col-sm-12 mb-4">
    <div class="card">
        <a href="#!"><img class="card-img-top" [src]="data[0].imgUrl" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">From manga</div>
            <div class="card-detail">
                <h2 class="card-title h5 mt-1"> <!-- Changed to h5 for smaller title -->
                    <strong>
                        {{data[0].name}}
                    </strong>
                </h2>
                <a class="btn btn-sm btn-readmore" href="/#">Read more →</a> <!-- Added 'btn-sm' for a smaller button -->
            </div>
        </div>
        
    </div>
</div>