.bg-img {
    width: 100%;
    height: 250px;
    background-size: cover;
    animation: slideImages 30s linear infinite;
}

.card-img-test{
    width: auto;
    height: 350px;
    object-fit: cover;
}

@keyframes slideImages {
    0% {
        background-image: url('../../img/manga.jpg');
        background-position: 0% 0%;
    }
    48% {
        background-image: url('../../img/manga.jpg');
        background-position: 0% 100%;
    }
    50% {
        background-image: url('../../img/manga3.jpg');
        background-position: 0% 100%;
    }
    98% {
        background-image: url('../../img/manga3.jpg');
        background-position: 0% 0%;
    }
    100% {
        background-image: url('../../img/manga.jpg');
        background-position: 0% 0%;
    }
}

.btn-clicked {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}

.btn-readmore {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}
