<nav class="navbar navbar-expand-lg navbar-dark custom-bg-color" *ngIf="!isLoginPage">
  <div class="container-fluid">
    <a class="navbar-brand navlist" routerLink="/animelist">Animelist</a>
    <a class="nav-link active navlist" aria-current="page" routerLink="/mangalist">Mangalist</a>
    <a class="nav-link active navlist" aria-current="page" routerLink="/home">Character</a>
    <!-- <div class="collapse navbar-collapse" > -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/home">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/list">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
        
        <li class="nav-item dropdown" *ngIf="checkUserRole()">
          <a class="text-warning nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/animetable">Anime</a></li>
            <li><a class="dropdown-item" href="/postmanga">Manga</a></li>
            <li><a class="dropdown-item" href="/postcharacter">Character</a></li>
          </ul>
        </li>
      </ul>

      <button class="btn my-2 my-sm-0 mr-2 "
        [ngClass]="{'btn-outline-primary': !checkUserRole(), 'btn-outline-warning': checkUserRole()}" type="button"
        *ngIf="isLoggedIn">{{name}}
      </button>
      <ul class="navbar-nav my-2 my-sm-0 mr-2">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <button class="btn btn-outline-success my-2 my-sm-0 " routerLink="/login">Login</button>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="btn btn-outline-danger my-2 my-sm-0 " (click)="logout()">Logout</button>
        </li>
      </ul>
    <!-- </div> -->
  </div>
</nav>