<div class="bg-dark ">
    <div class="container pt-3 ">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card mb-4 ">
                    <img class="card-img-top" src="https://sm.ign.com/ign_in/screenshot/default/oshi-ni-ko_1gvm.jpg"
                        alt="..." />
                </div>
                <div class="card mb-4 ">
                    <div class="card-header">ลายละเอียด</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-unstyled mb-0">
                                    <li>Type: TV</li>
                                    <li>Episodes: Unknown</li>
                                    <li>Studios: LIDENFILMS</li>
                                    <li>Source: Light novel</li>
                                    <li>Genres: Action, Adventure, Fantasy</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">เรื่องย่อ</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy
                        to
                        use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>

            <!-- Nested row for non-featured blog posts-->
            <div class="col-md-8">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">ลายละเอียด</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="list-unstyled mb-0">
                                            <li>Type: TV</li>
                                            <li>Episodes: Unknown</li>
                                            <li>Studios: LIDENFILMS</li>
                                            <li>Source: Light novel</li>
                                            <li>Genres: Action, Adventure, Fantasy</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">ลายละเอียด</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="list-unstyled mb-0">
                                            <li>Type: TV</li>
                                            <li>Episodes: Unknown</li>
                                            <li>Studios: LIDENFILMS</li>
                                            <li>Source: Light novel</li>
                                            <li>Genres: Action, Adventure, Fantasy</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="card mb-4">
                            <form>
                                <h3 class="pull-left">New Comment</h3>
                                <button type="submit" class="btn btn-normal pull-right">Submit</button>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2 hidden-xs">
                                            <img class="img-responsive"
                                                src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                            <textarea class="form-control" id="message" placeholder="Your message"
                                                required=""></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                            <h3>4 Comments</h3>

                            <div class="media">
                                <a class="pull-left" href="#"><img class="media-object"
                                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                                <div class="media-body">
                                    <h4 class="media-heading">John Doe</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.
                                    </p>
                                    <ul class="list-unstyled list-inline media-detail pull-left">
                                        <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                        <li><i class="fa fa-thumbs-up"></i>13</li>
                                    </ul>
                                    <ul class="list-unstyled list-inline media-detail pull-right">
                                        <li class=""><a href="">Like</a></li>
                                        <li class=""><a href="">Reply</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>