.alert-container {
    position: fixed;
    /* ตั้งค่าเป็น fixed เพื่อควบคุมตำแหน่งของ alerts ในหน้าจอ */
    top: 92%;
    /* ตำแหน่งด้านบนที่ 50% ของหน้าจอ */
    left: 50%;
    /* ตำแหน่งด้านซ้ายที่ 50% ของหน้าจอ */
    transform: translate(-50%, -50%);
    /* ใช้ transform เพื่อย้าย alert ให้อยู่กลาง */
    z-index: 1000;
    /* ตั้งค่า z-index ให้มากกว่า container อื่น ๆ เพื่อให้แสดงเหนือ container */
}

