.bg-img {
    width: 100%;
    height: auto;
    background-size: cover;
    animation: slideImages 60s linear infinite;
}
.card {
    display: flex; /* หรือเปลี่ยนเป็น display: grid; ในกรณีที่คุณต้องการใช้ Grid Layout */
    flex-direction: column; /* หรือ grid-template-rows: 1fr 1fr 1fr 1fr 1fr; ในกรณีที่คุณใช้ Grid Layout */
    height: 100%; /* ให้การ์ดมีความยาวเท่ากัน */
  }.card-body {
    flex: 1; /* หรือ grid-row: 3; ในกรณีที่คุณใช้ Grid Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* ให้ข้อมูลอยู่ระหว่างด้านบนและด้านล่างของการ์ด */
  }

.card-img-test{
    width: auto;
    height: 300px;
    object-fit: cover;
}

@keyframes slideImages {
    0% {
        background-image: url('../../img/allcharacter3.jpeg');
        background-position: 0% 0%;
    }

    50% {
        background-image: url('../../img/allcharacter3.jpeg');
        background-position: 0% 100%;
    }

    100% {
        background-image: url('../../img/allcharacter3.jpeg');
        background-position: 0% 0%;
    }
}

.btn-clicked {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}

.btn-readmore {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}

.btn-readmore:hover{
    background-color: #792f36;
}
