.bg-img {
    width: 100%;
    height: auto;
    background-size: cover;
    animation: slideImages 60s linear infinite;
}

.card-img-test{
    width: auto;
    height: 300px;
    object-fit: cover;
}

@keyframes slideImages {
    0% {
        background-image: url('../../img/allcharacter3.jpeg');
        background-position: 0% 0%;
    }

    50% {
        background-image: url('../../img/allcharacter3.jpeg');
        background-position: 0% 100%;
    }

    100% {
        background-image: url('../../img/allcharacter3.jpeg');
        background-position: 0% 0%;
    }
}

.btn-clicked {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}

.btn-readmore {
    background-color: #b13e49;
    /* Change this to the desired color */
    color: #ffffff;
    /* Change this to the desired text color */
}

.btn-readmore:hover{
    background-color: #792f36;
}
