<div style="margin-top: 0px !important;" class="bg-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card my-1">
                    <form class="card-body cardbody-color p-lg-5 text-center" (ngSubmit)="onSubmit()">
                        <a routerLink="/listanime" class="btn btn-color px-5 mb-5 w-10 btn-home">
                            <i class="fas fa-home"></i> Home
                        </a>

                        <div class="text-center">
                            <img src="./assets/animes21.png"
                                class="profile-image-pic logo" width="100%" height="100%"
                                alt="profile">
                        </div>

                        <div class="mb-3 form-group box">
                            <input class="form-control" type="email" id="email" name="email"
                                aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email" required>
                        </div>
                        <div class="mb-3 form-group box">
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="password" [(ngModel)]="password" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-color px-5 mb-5 w-10">Login</button>
                        </div>

                        <div id="emailHelp" class="form-text text-center mb-5 text-black">Not
                            Registered? <a href="/signup" class="font-weight-bold register"> Create an Account</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="alert-container">
    <div [ngClass]="alertClass" role="alert" *ngIf="showAlert">
      {{ alertMessage }}
    </div>
  </div>