.card {
  background: none;
  /* ลบพื้นหลังของ .card */
  border: none;
  /* ลบเส้นขอบของ .card ถ้ามี */
  box-shadow: none;
  /* ลบขอบเงาของ .card ถ้ามี */
  opacity: 1;
  /* กำหนดความโปรงใสให้ .card */
}

.btn-color {
  background-color: #0e1c36;
  color: #fff;

} 

.register{
  color: rgb(0, 0, 0);
}
.register:hover{
  color: rgb(255, 255, 255);
}


.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  background-color: rgba(57, 136, 215, 0);
  opacity: 1;
}

.box {
  opacity: 0.9;
}

a {
  text-decoration: none;
}

.logo{
  animation:Madukdik 1.5s ;
}

@keyframes Madukdik {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url('../../img/wall_hero.png');
  background-size: cover;
  background-position: center;
  animation: slideImages 20s linear infinite;
}

@keyframes slideImages {
  0% {
      background-image: url('../../img/your-name.jpg');
      background-position: 0% 0%;
  }
  40% {
      background-image: url('../../img/your-name.jpg');
      background-position: 0% 100%;
  }
  50% {
      background-image: url('../../img/737385.jpg');
      background-position: 0% 100%;
  }
  90% {
      background-image: url('../../img/737385.jpg');
      background-position: 0% 0%;
  }
  100% {
      background-image: url('../../img/your-name.jpg');
      background-position: 0% 0%;
  }
}


.full-height {
  height: 100%;
  /* ความสูงเท่ากับหน้าจอ (viewport height) */
}