<div style="margin-top: 0px !important;">
    <div class="container-fluid bg-img">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card my-5">
                    <form class="card-body cardbody-color p-lg-5 text-center" (ngSubmit)="onSubmit()">
                        <a routerLink="/listanime" class="btn btn-color px-5 mb-5 w-10 btn-home">
                            <i class="fas fa-home"></i> Home
                        </a>

                        <div class="text-center">
                            <img src="https://cdn.discordapp.com/attachments/1155377186291851317/1157936858991431680/deku_sq.gif?ex=651a6c3c&is=65191abc&hm=d01340416bba7dc2c537c826bba18b87dc14aa789c112db09fc3e9be531c97f2&"
                                class="img-fluid profile-image-pic img-thumbnail rounded my-3" width="80%" height="100%"
                                alt="profile">
                        </div>

                        <div class="mb-3 form-group box">
                            <input class="form-control" type="email" id="email" name="email"
                                aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email" required>
                        </div>
                        <div class="mb-3 form-group box">
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="password" [(ngModel)]="password" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-color px-5 mb-5 w-10">Login</button>
                        </div>

                        <div id="emailHelp" class="form-text text-center mb-5 text-black register">Not
                            Registered? <a href="/signup" class="font-weight-bold register"> Create an Account</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>