<div class="bg-dark page-body">
    <div class="container pt-4 pb-5">
        <div class="main-body">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <!-- รูปภาพเริ่มต้น -->
                                <!-- <img *ngIf="!anime.get('imgUrl')?.value"
                                    src=""
                                    alt="Default Image" width="300"> -->
                                <div *ngIf="!anime.get('imgUrl')?.value">
                                    <div class="spinner-grow text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-warning" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="spinner-grow text-dark" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>

                                <!-- รูปภาพจริงๆ เมื่อมีค่า imgUrl -->
                                <img *ngIf="anime.get('imgUrl')?.value" [src]="anime.get('imgUrl')?.value" alt="Admin"
                                    width="300" class="imgrounded">
                                <div class="mt-3">
                                    <!-- แสดงค่า name ก่อนและหลังจากมีค่า -->
                                    <h4 *ngIf="!anime.get('name')?.value">Anime Name</h4>
                                    <h4 *ngIf="anime.get('name')?.value">{{ anime.get('name')?.value }}</h4>

                                    <p class="text-secondary mb-1" style="text-align: left;">episode: {{
                                        anime.get('episode')?.value }}</p>

                                    <p class="text-secondary mb-1" style="text-align: left;"> studio: {{
                                        getStudioName(anime.get('studioId')?.value) }}</p>

                                    <p class="text-secondary mb-1" style="text-align: left;">Type: {{
                                        anime.get('typeId')?.value === '6513dc34e62aa885492968ca' ? 'Movie' : 
                                        anime.get('typeId')?.value === '6513dc34e62aa885492968c8' ? 'TV Series' : 'Unknown' }}</p>

                                    <p class="text-secondary mb-1" style="text-align: left;">Source: {{
                                        anime.get('sourceId')?.value === '6513dc35e62aa885492968d0' ? 'Original' :
                                        anime.get('sourceId')?.value === '6513dc35e62aa885492968ce' ? 'Light Novel' :
                                        anime.get('sourceId')?.value === '6513dc34e62aa885492968cc' ? 'Manga' : 'Unknown' }}</p>
                                    
                                    <p class="text-muted font-size-sm" style="text-align: left;">genre: {{
                                        anime.get('genre')?.value }}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <ul class="list-group list-group-flush" style="border-radius: 10px;">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <p class="text-secondary mb-1"
                                        style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word;">
                                        เรื่องย่อ: {{ anime.get('synopsis')?.value }}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            
                            <form [formGroup]="anime">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Anime Name</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Episode</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <input type="number" class="form-control" formControlName="episode">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Studio</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <select class="form-control" formControlName="studioId">
                                            <option *ngFor="let studio of studioOptions" [value]="studio._id">{{
                                                studio.name }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Type</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <label class="form-check-label ml-4">
                                            <input class="form-check-input" type="radio" name="typeId" value="6513dc34e62aa885492968ca"
                                                formControlName="typeId">
                                            <span>Movie</span>
                                        </label>
                                        <label class="form-check-label ml-5">
                                            <input class="form-check-input" type="radio" name="typeId" value="6513dc34e62aa885492968c8"
                                                formControlName="typeId">
                                            <span>TV Series</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Source</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <label class="form-check-label ml-4">
                                            <input class="form-check-input" type="radio" name="sourceId" value="6513dc35e62aa885492968d0"
                                                formControlName="sourceId">
                                            <span>Original</span>
                                        </label>
                                        <label class="form-check-label ml-5">
                                            <input class="form-check-input" type="radio" name="sourceId" value="6513dc35e62aa885492968ce"
                                                formControlName="sourceId">
                                            <span>Light Novel</span>
                                        </label>
                                        <label class="form-check-label ml-5">
                                            <input class="form-check-input" type="radio" name="sourceId" value="6513dc34e62aa885492968cc"
                                                formControlName="sourceId">
                                            <span>Manga</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Genre</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <label class="form-check-label ml-4 spaced-label"
                                            *ngFor="let genreOption of genreOptions">
                                            <input class="form-check-input" type="checkbox" [value]="genreOption"
                                                [checked]="isValidGenre(genreOption)"
                                                (change)="toggleGenre(genreOption)">
                                            <span>{{ genreOption }}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">ImgUrl</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <input type="text" class="form-control" formControlName="imgUrl">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">TrailerUrl</h6>
                                    </div>
                                    <div class="form-group col-sm-9 text-secondary">
                                        <input type="text" class="form-control" formControlName="trailerUrl">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">synopsis</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <textarea class="form-control" formControlName="synopsis" rows="4"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3 text-secondary">
                                        <input type="button" class="btn btn-warning px-5 mb-4" value="Update"
                                            (click)="UpdateAnime()">
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<router-outlet></router-outlet>