/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
/* npm install --save @fortawesome/fontawesome-free */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(52, 58, 64, 1) !important;
  font-family:'Shippori Antique', sans-serif !important;
}

.bg-Black {
    background-color: #121212; 
  }
