/* @import url('https://fonts.googleapis.com/css2?family=Prompt&family=Shippori+Antique&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Shippori+Antique&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';
/* npm install --save @fortawesome/fontawesome-free */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(33, 37, 41, 1) !important;
  font-family:'Shippori Antique', 'Prompt' !important;
  margin-top: 55px;
}

.bg-Black {
    background-color: #121212; 
  }

