@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

div {
    font-family: 'Shippori Antique', sans-serif;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
.alert-container {
    position: fixed; /* ตั้งค่าเป็น fixed เพื่อควบคุมตำแหน่งของ alerts ในหน้าจอ */
    top: 92%; /* ตำแหน่งด้านบนที่ 50% ของหน้าจอ */
    left: 50%; /* ตำแหน่งด้านซ้ายที่ 50% ของหน้าจอ */
    transform: translate(-50%, -50%); /* ใช้ transform เพื่อย้าย alert ให้อยู่กลาง */
    z-index: 1000; /* ตั้งค่า z-index ให้มากกว่า container อื่น ๆ เพื่อให้แสดงเหนือ container */
  }

.card {
    background: none;
    /* ลบพื้นหลังของ .card */
    border: none;
    /* ลบเส้นขอบของ .card ถ้ามี */
    box-shadow: none;
    /* ลบขอบเงาของ .card ถ้ามี */
    opacity: 1;
    /* กำหนดความโปรงใสให้ .card */
}

.btn-color {
    background-color: #0e1c36;
    color: #fff;

}

.profile-image-pic {

    object-fit: cover;
}

.cardbody-color {
    background-color: rgba(57, 136, 215, 0);
    opacity: 1;
}

.box {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.bg-img {
    width: 100%;
    height: 100%;
    background-image: url('../../img/wall_hero.png');
    background-size: cover;
    background-position: center;
    animation: slideImages 20s linear infinite;
  }
  
  @keyframes slideImages {
    0% {
        background-image: url('../../img/your-name.jpg');
        background-position: 0% 0%;
    }
    40% {
        background-image: url('../../img/your-name.jpg');
        background-position: 0% 100%;
    }
    50% {
        background-image: url('../../img/737385.jpg');
        background-position: 0% 100%;
    }
    90% {
        background-image: url('../../img/737385.jpg');
        background-position: 0% 0%;
    }
    100% {
        background-image: url('../../img/your-name.jpg');
        background-position: 0% 0%;
    }
  }
  

.full-height {
    height: 100%;
    /* ความสูงเท่ากับหน้าจอ (viewport height) */
}