@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

div{
    font-family:'Shippori Antique', sans-serif;
}

.card {
    background: none;
    /* ลบพื้นหลังของ .card */
    border: none;
    /* ลบเส้นขอบของ .card ถ้ามี */
    box-shadow: none;
    /* ลบขอบเงาของ .card ถ้ามี */
    opacity: 1;
    /* กำหนดความโปรงใสให้ .card */
}

.btn-color {
    background-color: #0e1c36;
    color: #fff;

}

.profile-image-pic {

    object-fit: cover;
}

.cardbody-color {
    background-color: rgba(57, 136, 215, 0);
    opacity: 1;
}

.box {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.bg-img {
    width: 100%;
    height: 100%;
    background-image: url('../../img/runnig-bg.gif');
    /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-height {
    height: 100%;
    /* ความสูงเท่ากับหน้าจอ (viewport height) */
}